@using WebBQA.Models;
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<MauSac>
@using X.PagedList.Web.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "QuanLyMau";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Danh sách màu sắc</h1>



<p>
    <a asp-action="ThemMau" class="btn btn-primary">Thêm màu sản phẩm</a>
</p>
<p>
    @TempData["Message"]

</p>
<table class="table">
    <thead>
        <tr class="table-warning">

            <th>
                Mã màu

            </th>

            <th>
                Tên màu
            </th>


        </tr>
    </thead>
    <tbody>
        @{
            int i = 0;
            string @cls = "table-success";
        }
        @foreach (var item in Model)
        {
            i = i + 1;
            cls = "table-success";
            if (i % 2 == 0)
            {
                cls = "table-primary";
            }

            <tr class="@cls">
                <td>
                    @Html.DisplayFor(modelItem => item.MaMauSac)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenMauSac)
                </td>



            </tr>
        }
    </tbody>
</table>
<div class="product__pagination">
    @Html.PagedListPager(Model, page => Url.Action("QuanLyMau", new { page = page }))
</div>



