<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="0 unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../1LayoutQA/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutQA/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutQA/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutQA/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutQA/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutQA/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutQA/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../1LayoutQA/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <div class="humberger__menu__wrapper">
        <div class="humberger__menu__logo">
            <a href="https://localhost:7159/Home/Index"><img src="../1LayoutQA/img/logo3.jpg" alt=""></a>
        </div>
        <div class="humberger__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href=""><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
        </div>
        <div class="humberger__menu__widget">

            <div class="header__top__right__auth">
                @*<a href="#"><i class="fa fa-user"></i> Đăng xuất</a>*@
                <a asp-controller="Access" asp-action="Logout"><i class="fa fa-user"></i> Đăng xuất</a>
            </div>
        </div>
        <nav class="humberger__menu__nav mobile-menu">
            <ul>
                <li class="active"><a href="./index.html">Home</a></li>
                <li><a href="./shop-grid.html">Shop</a></li>
                <li>
                    <a href="#">Pages</a>
                    <ul class="header__menu__dropdown">
                        <li><a href="./shop-details.html">Shop Details</a></li>
                        <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                        <li><a href="./checkout.html">Check Out</a></li>
                        <li><a href="./blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="./blog.html">Blog</a></li>
                <li><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>

        </div>
        <div class="humberger__menu__contact">
            <ul>
                <li>Giao hàng miễn phí cho tất cả đơn hàng trị giá 199k</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__left">
                            <ul>
                                <li>Giao hàng miễn phí cho tất cả đơn hàng trị giá 199k</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>

                            </div>

                            <div class="header__top__right__auth">
                                <a asp-controller="Access" asp-action="Logout"><i class="fa fa-user"></i> Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a asp-controller="Home" asp-action="index"><img src="../1LayoutQA/img/logo3.jpg" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a asp-controller="Home" asp-action="index">Trang Chủ</a></li>
                            <li><a asp-controller="Home" asp-action="index">Cửa hàng</a></li>
                            <li>
                                <a asp-controller="Home" asp-action="index">Danh mục</a>

                            
                            </li>


                            <li>
                                <a href="@Url.Action("XemDonHang", "Home")">Xem Đơn Hàng</a>
                            </li>
                        </ul>
                    </nav>
                </div>


                <div class="col-lg-3">
                    <div class="header__cart">
                        <ul>
                            <li>
                                <a asp-controller="Cart" asp-action="Index">
                                    <i class="fa fa-shopping-bag"></i>

                                    <span class="count" id="cart_count">
                                        @using HienlthOnline.Helpers
                                        @{
                                            var data = Context.Session.Get<List<CartItem>>("GioHang");
                                            if (data == null)
                                            {
                                                data = new List<CartItem>();
                                            }
                                        }
                                        @(data.Sum(c => c.SoLuong))
                                    </span>

                                </a>
                             </li>
                        </ul>
                    </div>
                </div>
       
                <div class="hero__search mx-auto">
                    <div class="hero__search__form">
                        <form asp-controller="Home" asp-action="TimKiem" method="get">
                            <input type="text" name="keyword" placeholder="Bạn cần tìm gì? ">
                            <button type="submit" class="site-btn">Tìm Kiếm</button>
                        </form>
                    </div>

                </div>

            </div>
            <div class="humberger__open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="row">
                @await Component.InvokeAsync("LoaiSpMenu")
                <div class="col-lg-9">

                    <p>
                        @TempData["Message"]
                    </p>
                    <div class="row featured__filter mx-auto">
                        @RenderBody()
                    </div>

                </div>
              
             

                  

           

            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="../1LayoutQA/img/logo3.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Liên hệ</h6>
                        <ul>
                            <li>Địa chỉ:</li>
                            <li>Điện thoại: 085 666 2344</li>
                            <li>Email:chinhmai282002@gmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                     
                       
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="../1LayoutQA/js/jquery-3.3.1.min.js"></script>
    <script src="../1LayoutQA/js/bootstrap.min.js"></script>
    <script src="../1LayoutQA/js/jquery.nice-select.min.js"></script>
    <script src="../1LayoutQA/js/jquery-ui.min.js"></script>
    <script src="../1LayoutQA/js/jquery.slicknav.js"></script>
    <script src="../1LayoutQA/js/mixitup.min.js"></script>
    <script src="../1LayoutQA/js/owl.carousel.min.js"></script>
    <script src="../1LayoutQA/js/main.js"></script>
    @RenderSection("scripts", required: false)



</body>

</html>